Modified from https://github.com/melanieabrams-pub/RH-seq_with_barcoding/blob/main/annotate_poolfile_for_barseq_v1.2_JSkerker.ipynb and 
https://github.com/melanieabrams-pub/kluyv_RH-seq_with_barcoding/blob/main/annotate_poolfile_kluyv.py

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

#makes viewing pandas tables better
pd.set_option('display.max_colwidth', 0)

### Load GFF annotations

In [2]:
#you don't need to change the path below - this is the most recent annotation file (5/12/22)
gff_file = '/usr2/people/shollyt22/shollyt22/TnSeq_BarSeq_sequencings/Barseq_July_2023/OORB003_TnSeq/for_analysis/modified_gff_file_finalized_08_08_2023'

In [3]:
gff = pd.read_csv(gff_file, sep='\t')

In [4]:
t = gff['scaffold'].unique()
print(t)

['chr1' 'chr2' 'chr3' 'chr4' 'chr5' 'chr6' 'chr7']

In [5]:
gff.head()

  scaffold source type    start     stop strand       info                 ID
0  chr1     JGI    CDS  1381.0   2142.0   +      ID=gene_1  proteinId=2114025
1  chr1     JGI    CDS  2744.0   3343.0   -      ID=gene_2  proteinId=2293935
2  chr1     JGI    CDS  3344.0   3817.0   -      ID=gene_3  proteinId=2293936
3  chr1     JGI    CDS  5330.0   6385.0   -      ID=gene_4  proteinId=2051335
4  chr1     JGI    CDS  15458.0  25533.0  +      ID=gene_5  proteinId=2121898

In [6]:
gff

,scaffold,source,type,start,stop,strand,info,ID
0,chr1,JGI,CDS,1381.0,2142.0,+,ID=gene_1,proteinId=2114025
1,chr1,JGI,CDS,2744.0,3343.0,-,ID=gene_2,proteinId=2293935
2,chr1,JGI,CDS,3344.0,3817.0,-,ID=gene_3,proteinId=2293936
3,chr1,JGI,CDS,5330.0,6385.0,-,ID=gene_4,proteinId=2051335
4,chr1,JGI,CDS,15458.0,25533.0,+,ID=gene_5,proteinId=2121898
...,...,...,...,...,...,...,...,...
9105,chr7,JGI,CDS,4089438.0,4091337.0,+,ID=gene_10836,proteinId=103797
9106,chr7,JGI,CDS,4095568.0,4097284.0,+,ID=gene_10837,proteinId=2071098
9107,chr7,JGI,CDS,4098122.0,4098907.0,-,ID=gene_10838,proteinId=2114022
9108,chr7,JGI,CDS,4100606.0,4101293.0,-,ID=gene_10840,proteinId=2114023
9109,chr7,JGI,CDS,4101637.0,4103479.0,-,ID=gene_10841,proteinId=2313233

### Match barcode insert locations to gene annotations

In [7]:
!pwd

/auto/sahara/namib/home/shollyt22/shollyt22/TnSeq_BarSeq_sequencings/Sequencing_with_the_13k_mutants

In [8]:
#CHANGE IF NEEDED: load COMBINED poolfile generated in TNseq mapping step

poolfile = '/usr2/people/shollyt22/shollyt22/TnSeq_BarSeq_sequencings/Sequencing_with_the_13k_mutants/for_analysis/Batch_2_sequencing_Apr_26_2024/TNSeq_13k_mutants_mapping_output_without_vector_sequence_jumpstart/TNSeq_13k_mutants_mapping_output_jumpstart_polymerase_Apr_30_2024_2_fastq_combined/Tnseq_13k_mutants_Apr_26_2024_without_vector_seq_2_fastq_combined_poolfile'

#CHANGE IF NEEDED: annotated pool file path to output

annotated_poolfile_path = '/usr2/people/shollyt22/shollyt22/TnSeq_BarSeq_sequencings/Sequencing_with_the_13k_mutants/for_analysis/Batch_2_sequencing_Apr_26_2024/TNSeq_13k_mutants_mapping_output_without_vector_sequence_jumpstart/TNSeq_13k_mutants_mapping_output_jumpstart_polymerase_Apr_30_2024_2_fastq_combined/Tnseq_13k_mutants_04_30_2024_combined_poolfile_annotated.csv'

In [9]:
df = pd.read_csv(poolfile,sep='\t')
df.head()

,barcode,rcbarcode,nTot,n,scaffold,strand,pos,type,nMainLocation,nInsert,All genomic mappings,All insert mappings
0,TTCATTCAGGATCTTTGCTC,GAGCAAAGATCCTGAATGAA,154,154,chr1,+,8764372,Single,144,2,"[('chr1:8764372:+', 144), ('chr6:477092:-', 1), ('chr7:1928216:+', 1), ('chr4:2631691:-', 1), ('chr3:313312:+', 1), ('chr6:733284:-', 1), ('chr1:4277183:-', 1), ('chr1:1979828:+', 1), ('chr2:991296:-', 1)]","{'Null:0:+': 0, 'insert:1138:-': 1, 'insert:19:+': 1}"
1,ACGTATTCGCAGTCCTCATA,TATGAGGACTGCGAATACGT,21,21,chr1,-,526973,Single,21,0,"[('chr1:526973:-', 21)]",{'Null:0:+': 0}
2,GCGGCGGCAGCGTTCCTCGC,GCGAGGAACGCTGCCGCCGC,150,150,chr1,-,2235514,Single,140,2,"[('chr1:2235514:-', 140), ('chr2:2382780:-', 1), ('chr3:2906544:-', 1), ('chr2:2797042:-', 1), ('chr3:1386264:-', 1), ('chr1:9117601:+', 1), ('chr1:2235513:-', 1), ('chr2:1023360:+', 1), ('chr5:3144776:-', 1)]","{'Null:0:+': 0, 'insert:365:+': 1, 'insert:1:+': 1}"
3,GAATAGGTAATTAAGCCTGC,GCAGGCTTAATTACCTATTC,62,62,chr1,+,8013504,Single,54,3,"[('chr1:8013504:+', 54), ('chr5:3325007:-', 2), ('chr4:3047278:-', 1), ('chr2:2715304:-', 1), ('chr1:9310056:+', 1)]","{'Null:0:+': 0, 'insert:1521:-': 1, 'insert:13:+': 1, 'insert:1:+': 1}"
4,TTCGCGTGGGTGAATTAACT,AGTTAATTCACCCACGCGAA,415,415,chr5,+,2435148,Single,372,14,"[('chr5:2435148:+', 372), ('chr1:9415816:+', 3), ('chr1:7572780:-', 1), ('chr2:1803458:-', 1), ('chr5:2435205:-', 1), ('chr5:2574087:-', 1), ('chr3:2141768:+', 1), ('chr7:2035049:-', 1), ('chr5:3325007:-', 1), ('chr7:2775803:+', 1), ('chr3:2410718:-', 1), ('chr3:2618659:-', 1), ('chr1:6943496:-', 1), ('chr2:4994449:+', 1), ('chr2:4661375:+', 1), ('chr7:1074090:+', 1), ('chr1:9554108:-', 1), ('chr3:2949780:+', 1), ('chr7:1049234:+', 1), ('chr6:3125324:-', 1), ('chr6:201290:+', 1), ('chr2:4512077:+', 1), ('chr5:2435149:+', 1), ('chr2:1751841:-', 1), ('chr1:6903684:-', 1), ('chr7:2406660:-', 1), ('chr1:391550:-', 1), ('chr2:3965159:+', 1)]","{'Null:0:+': 0, 'insert:1:+': 5, 'insert:130:+': 1, 'insert:550:+': 1, 'insert:4:+': 1, 'insert:1877:+': 2, 'plasmid:5498:-': 1, 'insert:18:+': 1, 'insert:26:+': 1, 'insert:16:+': 1}"

Check that each barcode in the dataframe is unique (the two numbers below should be the same):

In [10]:
print('Number of insertions in poolfile: {}'.format(df.shape[0]))
print('Number of unique barcodes in poolfile: {}'.format(len(df['barcode'].unique())))

Number of insertions in poolfile: 8521
Number of unique barcodes in poolfile: 8521

In [11]:
#df = df.set_index('transposonLocation') #This is what was there and it is showing error. The transposonlocation was changed to barcode in the next line
df = df.set_index('barcode')

In [12]:
df.columns

Index(['rcbarcode', 'nTot', 'n', 'scaffold', 'strand', 'pos', 'type',
       'nMainLocation', 'nInsert', 'All genomic mappings',
       'All insert mappings'],
      dtype='object')

In [13]:
df.head()

,rcbarcode,nTot,n,scaffold,strand,pos,type,nMainLocation,nInsert,All genomic mappings,All insert mappings
barcode,,,,,,,,,,,
TTCATTCAGGATCTTTGCTC,GAGCAAAGATCCTGAATGAA,154,154,chr1,+,8764372,Single,144,2,"[('chr1:8764372:+', 144), ('chr6:477092:-', 1), ('chr7:1928216:+', 1), ('chr4:2631691:-', 1), ('chr3:313312:+', 1), ('chr6:733284:-', 1), ('chr1:4277183:-', 1), ('chr1:1979828:+', 1), ('chr2:991296:-', 1)]","{'Null:0:+': 0, 'insert:1138:-': 1, 'insert:19:+': 1}"
ACGTATTCGCAGTCCTCATA,TATGAGGACTGCGAATACGT,21,21,chr1,-,526973,Single,21,0,"[('chr1:526973:-', 21)]",{'Null:0:+': 0}
GCGGCGGCAGCGTTCCTCGC,GCGAGGAACGCTGCCGCCGC,150,150,chr1,-,2235514,Single,140,2,"[('chr1:2235514:-', 140), ('chr2:2382780:-', 1), ('chr3:2906544:-', 1), ('chr2:2797042:-', 1), ('chr3:1386264:-', 1), ('chr1:9117601:+', 1), ('chr1:2235513:-', 1), ('chr2:1023360:+', 1), ('chr5:3144776:-', 1)]","{'Null:0:+': 0, 'insert:365:+': 1, 'insert:1:+': 1}"
GAATAGGTAATTAAGCCTGC,GCAGGCTTAATTACCTATTC,62,62,chr1,+,8013504,Single,54,3,"[('chr1:8013504:+', 54), ('chr5:3325007:-', 2), ('chr4:3047278:-', 1), ('chr2:2715304:-', 1), ('chr1:9310056:+', 1)]","{'Null:0:+': 0, 'insert:1521:-': 1, 'insert:13:+': 1, 'insert:1:+': 1}"
TTCGCGTGGGTGAATTAACT,AGTTAATTCACCCACGCGAA,415,415,chr5,+,2435148,Single,372,14,"[('chr5:2435148:+', 372), ('chr1:9415816:+', 3), ('chr1:7572780:-', 1), ('chr2:1803458:-', 1), ('chr5:2435205:-', 1), ('chr5:2574087:-', 1), ('chr3:2141768:+', 1), ('chr7:2035049:-', 1), ('chr5:3325007:-', 1), ('chr7:2775803:+', 1), ('chr3:2410718:-', 1), ('chr3:2618659:-', 1), ('chr1:6943496:-', 1), ('chr2:4994449:+', 1), ('chr2:4661375:+', 1), ('chr7:1074090:+', 1), ('chr1:9554108:-', 1), ('chr3:2949780:+', 1), ('chr7:1049234:+', 1), ('chr6:3125324:-', 1), ('chr6:201290:+', 1), ('chr2:4512077:+', 1), ('chr5:2435149:+', 1), ('chr2:1751841:-', 1), ('chr1:6903684:-', 1), ('chr7:2406660:-', 1), ('chr1:391550:-', 1), ('chr2:3965159:+', 1)]","{'Null:0:+': 0, 'insert:1:+': 5, 'insert:130:+': 1, 'insert:550:+': 1, 'insert:4:+': 1, 'insert:1877:+': 2, 'plasmid:5498:-': 1, 'insert:18:+': 1, 'insert:26:+': 1, 'insert:16:+': 1}"

In [14]:
df=df.drop(df.columns[-1],axis=1)

In [15]:
# df.columns = ['rcbarcode','nTot', 'n', 'scaffold', 'strand', 'pos', 'type',
#        'nMainLocation', 'nInsert', 'All genomic mappings',
#        'All insert mappings']

In [16]:
df.head()

,rcbarcode,nTot,n,scaffold,strand,pos,type,nMainLocation,nInsert,All genomic mappings
barcode,,,,,,,,,,
TTCATTCAGGATCTTTGCTC,GAGCAAAGATCCTGAATGAA,154,154,chr1,+,8764372,Single,144,2,"[('chr1:8764372:+', 144), ('chr6:477092:-', 1), ('chr7:1928216:+', 1), ('chr4:2631691:-', 1), ('chr3:313312:+', 1), ('chr6:733284:-', 1), ('chr1:4277183:-', 1), ('chr1:1979828:+', 1), ('chr2:991296:-', 1)]"
ACGTATTCGCAGTCCTCATA,TATGAGGACTGCGAATACGT,21,21,chr1,-,526973,Single,21,0,"[('chr1:526973:-', 21)]"
GCGGCGGCAGCGTTCCTCGC,GCGAGGAACGCTGCCGCCGC,150,150,chr1,-,2235514,Single,140,2,"[('chr1:2235514:-', 140), ('chr2:2382780:-', 1), ('chr3:2906544:-', 1), ('chr2:2797042:-', 1), ('chr3:1386264:-', 1), ('chr1:9117601:+', 1), ('chr1:2235513:-', 1), ('chr2:1023360:+', 1), ('chr5:3144776:-', 1)]"
GAATAGGTAATTAAGCCTGC,GCAGGCTTAATTACCTATTC,62,62,chr1,+,8013504,Single,54,3,"[('chr1:8013504:+', 54), ('chr5:3325007:-', 2), ('chr4:3047278:-', 1), ('chr2:2715304:-', 1), ('chr1:9310056:+', 1)]"
TTCGCGTGGGTGAATTAACT,AGTTAATTCACCCACGCGAA,415,415,chr5,+,2435148,Single,372,14,"[('chr5:2435148:+', 372), ('chr1:9415816:+', 3), ('chr1:7572780:-', 1), ('chr2:1803458:-', 1), ('chr5:2435205:-', 1), ('chr5:2574087:-', 1), ('chr3:2141768:+', 1), ('chr7:2035049:-', 1), ('chr5:3325007:-', 1), ('chr7:2775803:+', 1), ('chr3:2410718:-', 1), ('chr3:2618659:-', 1), ('chr1:6943496:-', 1), ('chr2:4994449:+', 1), ('chr2:4661375:+', 1), ('chr7:1074090:+', 1), ('chr1:9554108:-', 1), ('chr3:2949780:+', 1), ('chr7:1049234:+', 1), ('chr6:3125324:-', 1), ('chr6:201290:+', 1), ('chr2:4512077:+', 1), ('chr5:2435149:+', 1), ('chr2:1751841:-', 1), ('chr1:6903684:-', 1), ('chr7:2406660:-', 1), ('chr1:391550:-', 1), ('chr2:3965159:+', 1)]"

In [17]:
#this takes a few minutes
def get_gene_by_bc_position(pos):
    
    gene_list = [scaffold_gff.loc[interval]['ID'] for interval in idx if pos in interval]
    
    #barcode position not in any genes
    if not gene_list:
        return ''
    #barcode position is in one gene
    if len(gene_list) == 1:
        return gene_list[0]
    #barcode position is in multiple genes (should be rare)
    else:
        return ';'.join(gene_list)

barcode_to_gene_dict = {}

for scaffold in sorted(gff['scaffold'].unique()):
    
    scaffold_gff = gff[gff['scaffold']==scaffold]
    scaffold_barcodes = df[df['scaffold']==scaffold]
    
    #divide scaffold_gff.shape by 2 here to get number of genes (original shape includes promoters)
    print('Mapping {} barcodes on {} to {} genes on {}'.format(scaffold_barcodes.shape[0], scaffold,
                                                              round(scaffold_gff.shape[0]/2), scaffold))

    #turn the start and stop of each gene into an interval
    v = scaffold_gff.loc[:, 'start':'stop'].apply(tuple, 1).tolist()
    idx = pd.IntervalIndex.from_tuples(v, closed='both') 
    scaffold_gff = scaffold_gff.set_index(idx)
    
    #for each barcode, check if it's in each start/stop interval
    barcode_to_gene_dict.update(scaffold_barcodes['pos'].apply(get_gene_by_bc_position).to_dict())
    
df['gene'] = df.index.map(barcode_to_gene_dict)

Mapping 2762 barcodes on chr1 to 1356 genes on chr1
Mapping 1475 barcodes on chr2 to 715 genes on chr2
Mapping 1105 barcodes on chr3 to 605 genes on chr3
Mapping 805 barcodes on chr4 to 535 genes on chr4
Mapping 596 barcodes on chr5 to 492 genes on chr5
Mapping 653 barcodes on chr6 to 396 genes on chr6
Mapping 1125 barcodes on chr7 to 455 genes on chr7

In [18]:
#check that a 'gene' column has been added to df

df.head()

,rcbarcode,nTot,n,scaffold,strand,pos,type,nMainLocation,nInsert,All genomic mappings,gene
barcode,,,,,,,,,,,
TTCATTCAGGATCTTTGCTC,GAGCAAAGATCCTGAATGAA,154,154,chr1,+,8764372,Single,144,2,"[('chr1:8764372:+', 144), ('chr6:477092:-', 1), ('chr7:1928216:+', 1), ('chr4:2631691:-', 1), ('chr3:313312:+', 1), ('chr6:733284:-', 1), ('chr1:4277183:-', 1), ('chr1:1979828:+', 1), ('chr2:991296:-', 1)]",proteinId=2298894
ACGTATTCGCAGTCCTCATA,TATGAGGACTGCGAATACGT,21,21,chr1,-,526973,Single,21,0,"[('chr1:526973:-', 21)]",
GCGGCGGCAGCGTTCCTCGC,GCGAGGAACGCTGCCGCCGC,150,150,chr1,-,2235514,Single,140,2,"[('chr1:2235514:-', 140), ('chr2:2382780:-', 1), ('chr3:2906544:-', 1), ('chr2:2797042:-', 1), ('chr3:1386264:-', 1), ('chr1:9117601:+', 1), ('chr1:2235513:-', 1), ('chr2:1023360:+', 1), ('chr5:3144776:-', 1)]",
GAATAGGTAATTAAGCCTGC,GCAGGCTTAATTACCTATTC,62,62,chr1,+,8013504,Single,54,3,"[('chr1:8013504:+', 54), ('chr5:3325007:-', 2), ('chr4:3047278:-', 1), ('chr2:2715304:-', 1), ('chr1:9310056:+', 1)]",proteinId=97899
TTCGCGTGGGTGAATTAACT,AGTTAATTCACCCACGCGAA,415,415,chr5,+,2435148,Single,372,14,"[('chr5:2435148:+', 372), ('chr1:9415816:+', 3), ('chr1:7572780:-', 1), ('chr2:1803458:-', 1), ('chr5:2435205:-', 1), ('chr5:2574087:-', 1), ('chr3:2141768:+', 1), ('chr7:2035049:-', 1), ('chr5:3325007:-', 1), ('chr7:2775803:+', 1), ('chr3:2410718:-', 1), ('chr3:2618659:-', 1), ('chr1:6943496:-', 1), ('chr2:4994449:+', 1), ('chr2:4661375:+', 1), ('chr7:1074090:+', 1), ('chr1:9554108:-', 1), ('chr3:2949780:+', 1), ('chr7:1049234:+', 1), ('chr6:3125324:-', 1), ('chr6:201290:+', 1), ('chr2:4512077:+', 1), ('chr5:2435149:+', 1), ('chr2:1751841:-', 1), ('chr1:6903684:-', 1), ('chr7:2406660:-', 1), ('chr1:391550:-', 1), ('chr2:3965159:+', 1)]",

### This line is not necessary in the running. Continue to the next line to save the dataframe

In [ ]:
print('{} barcodes not in coding sequences'.format(df[df['gene']==''].shape[0]))
print()

print('{} barcodes in coding sequences'.format(df[df['gene']!=''].shape[0]))
print('{} barcodes in Kl coding sequences'.format(df[df['gene'].str.startswith('kl',na=False)].shape[0]))
print('{} barcodes in Km coding sequences'.format(df[df['gene'].str.startswith('km',na=False)].shape[0]))

In [19]:
df.to_csv(annotated_poolfile_path, sep='\t')

In [ ]:
gff[gff['ID']=='kmYHR034C']